body {
    background-color: #495991;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container{
    padding: 20px;
    border-radius: 10px;
    width: max-content;
    text-align: center;
    border: 5px solid #151E3F;
    background-color: white;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;

}
input[type="text"], textarea, select {
    width: 100%;
    padding: 0px;
    margin-top: auto;
    border: 2px solid #5EB1BF;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
textarea {
    resize: none;
}
button:hover{
    background-color: greenyellow;
}
#Gender {
    width: 100%;
}